<html>
  <title>Rock, Paper, Scissors, Lizard, Spock</title>
  <link href="/styles.css" rel="stylesheet" type="text/css" />
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
